[submodule "dotty"]
	path = dotty
	url = https://github.com/shippy/dotty.git
	branch = master
	ignore = all
[submodule "dotfiler"]
	path = dotfiler
	url = https://github.com/svetlyak40wt/dotfiler.git
	branch = master
	ignore = all
[submodule "dotvim"]
	path = dotvim
	url = https://github.com/shippy/dotvim.git
	branch = master
	ignore = all
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
	ignore = all
